--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn
python-multipart
Pillow
opencv-python-headless
numpy
matplotlib
joblib
pandas
dice-ml
shap
lime
pydantic
openai
python-dotenv
grad-cam