--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
pillow
numpy
matplotlib
joblib
pandas
dice-ml
shap
lime
openai
python-dotenv
grad-cam